.avatar {
    border-radius: 50%;
    vertical-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;

}

body {
    color: #cdd6f4;
    background-color: #1e1e2e;
}

h1 {
    font-family: Comfortaa, ui-rounded;
    /*font-size: 40px;*/
    font-weight: bolder;
    font-size: xx-large;
}

tbody {
    font-family: Comfortaa, ui-rounded;
    text-align: center;
}

thead {
    font-family: Comfortaa, ui-rounded;
    font-size: larger;
    font-weight: bold;
}

table {
    flex: auto;
    width: 35%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #94e2d5;
    text-align: center;
    padding: 8px;
    display: table-cell;
    align-content: center;
}

th {
    background-color: #313244;
}

table .avatar-cell {
    display: flex;
    align-items: center;
}

table .avatar-cell img {
    margin-right: 8px;
}

table .avatar-cell .character-name {
    flex-grow: 1;
}