.avatar {
    border-radius: 50%;
    vertical-align: center;
    margin-right: 0.5em;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;

}

h1 {
    font-family: Comfortaa, ui-rounded;
    font-weight: bolder;
    font-size: xx-large;
    text-shadow: 0 0 0.25em #f38ba8;
}

h1 span {
    /*background: radial-gradient(circle, rgba(245,194,231,1) 0%, rgba(243,139,168,1) 100%);*/
    background: linear-gradient(45deg, rgba(243, 139, 168, 1) 0%, rgba(245, 194, 231, 1) 100%);
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
}

body {
    color: #cdd6f4;
    background-color: #1e1e2e;
}

tbody {
    font-family: Comfortaa, ui-rounded;
    text-align: center;
}

thead {
    font-family: Comfortaa, ui-rounded;
    font-size: larger;
    font-weight: bold;
    background: #313244;

}

table {
    flex: auto;
    min-width: 25%;
    max-width: 50%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #94e2d5;
    text-align: center;
    padding: 8px;
    display: table-cell;
    align-content: center;
    flex-grow: 1;
}

th {
    /*background: linear-gradient(45deg, rgba(243,139,168,1) 0%, rgba(245,194,231,1) 100%);*/
    /*color: transparent;*/
    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: transparent;*/
}

.avatar-cell {
    display: flex;
    align-items: center;
}


a {
    color: #cdd6f4;
    text-decoration: none;


    &:hover,
    &:focus {
        color: #74c7ec;
    }
}

.avatar-cell .character-name {
    flex-grow: 1;
}

[data-icon] {
    width: 48px;
    height: 48px;
}